// Global

*
  box-sizing: border-box

body
  font: 12px/25px menlo, "monospaced"

a
  text-decoration: none
  color: black
  font-weight: bold

  &:hover
    text-decoration: underline

h1,
h2,
h3,
h4,
h5,
p
  font-size: 100%
  margin-top: 0

img
  max-width: 100%
  margin: 0 auto

.wrapper 
  margin: 50px
  max-width: 850px
  -webkit-animation: fade-in 1s .1s 1 ease-in both
  -moz-animation:    fade-in 1s .1s 1 ease-in both
  -o-animation:      fade-in 1s .1s 1 ease-in both
  animation:         fade-in 1s .1s 1 ease-in both

  @media (min-width: 950px)
    margin: 100px auto

nav
  width: auto
  height: 25px
  margin: 0 0 100px

  a
    float: left

  a+a
    float: right
    line-height: 25px


.content
  clear: both

footer
  margin-top: 50px
  font-size: 9px
  text-align: right
  opacity: .5

  a
    float: left

// homepage
.index
  .thumbnail
    float: left
    width: 100%
    margin: 0 auto 50px 0
    text-align: center
    text-decoration: none
    line-height: 200px
    color: transparent

    &:hover
      color: white

      .project-title
        background: black
        padding: 2px 6px

    @media (min-width: 450px)
      width: 45.454545454545%
      height: auto
      margin: 0 9.090909090909% 50px 0
    
      &:nth-of-type(2n+2)
        margin: 0 0 50px 0
   
    @media (min-width: 650px)
      width: 29.411764705882%
      height: auto
      margin: 0 5.882352941177% 50px 0

      &:nth-of-type(2n+2)
        margin: 0 5.882352941177% 50px 0

      &:nth-of-type(3n+3)
        margin: 0 0 50px 0

    @media (min-width: 950px)
      width: 250px
      height: 200px
      margin: 0 50px 50px 0    

      &:nth-of-type(3n+3)
        margin: 0 0 50px 0

    // project thumbs

    &.one
      background: rgb(230, 230, 230) url(/images/homepage/hired-thumb.png) center center no-repeat

      &:hover
        background: url(/images/homepage/hired-loop.gif)      

    &.two
      background: rgb(0, 28, 169) url(/images/homepage/money-and-tech-thumb.png) center center no-repeat

      &:hover
        background: url(/images/homepage/money-and-tech-loop.gif)  

    &.three
      background: rgb(163, 140, 97) url(/images/homepage/the-silk-road-thumb.png) center center no-repeat

      &:hover
        background: url(/images/homepage/the-silk-road-loop.gif)  

    &.four
      background: forestgreen url(/images/homepage/paleo-thumb.png) center center no-repeat

      &:hover
        background: url(/images/homepage/hired-loop.gif) 

    &.five
      background: skyblue url(/images/homepage/regatta-thumb.png) center center no-repeat

      &:hover
        background: url(/images/homepage/hired-loop.gif) 

    &.six
      background: #ffff00 url(/images/homepage/pirelli-thumb.png) center center no-repeat

      &:hover
        background: url(/images/homepage/hired-loop.gif) 

// about page

.about
  p
    max-width: 450px
    margin: 0 auto 25px

    &.reference
      margin-top: 25px
      font-size: 9px
      opacity: .5

// project page
 
.project,
.hired,
.the-silk-road,
.money-and-tech
  .logo
    display: block
    margin: 150px auto 250px

  img
    margin-bottom: 25px

  h1
    border-bottom: 1px solid rgb(230,230,230)

  p
    clear: both
    float: right
    width: 450px

    @media (max-width: 950px)
      width: 29.411764705882%

    @media (max-width: 450px)
      clear: both
      width: 100%

  section
    margin: 200px 0 0 0
