/* line 3, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
* {
  box-sizing: border-box; }

/* line 6, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
body {
  font: 12px/25px menlo, "monospaced"; }

/* line 9, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
a {
  text-decoration: none;
  color: black;
  font-weight: bold; }
  /* line 14, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  a:hover {
    text-decoration: underline; }

/* line 17, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
h1,
h2,
h3,
h4,
h5,
p {
  font-size: 100%;
  margin-top: 0; }

/* line 26, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.reference {
  font-size: 10px;
  opacity: 0.5; }

/* line 30, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
img {
  max-width: 100%;
  margin: 0 auto; }

/* line 34, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.wrapper {
  margin: 50px;
  max-width: 850px;
  -webkit-animation: fade-in 1s 0.1s 1 ease-in both;
  -moz-animation: fade-in 1s 0.1s 1 ease-in both;
  -o-animation: fade-in 1s 0.1s 1 ease-in both;
  animation: fade-in 1s 0.1s 1 ease-in both; }
  @media (min-width: 950px) {
    /* line 34, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .wrapper {
      margin: 100px auto; } }

/* line 45, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
nav {
  width: auto;
  height: 25px;
  margin: 0 0 100px; }
  /* line 50, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  nav a {
    float: left; }
  /* line 53, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  nav a + a {
    float: right;
    line-height: 25px; }

/* line 58, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.content {
  clear: both; }

/* line 61, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
footer {
  margin-top: 100px;
  font-size: 9px;
  text-align: right;
  opacity: 0.5; }
  /* line 67, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  footer a,
  footer span {
    float: left; }
    /* line 70, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    footer a.divider,
    footer span.divider {
      margin: 0 5px; }

/* line 77, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.index .thumbnail {
  float: left;
  width: 100%;
  margin: 0 auto 50px 0;
  text-align: center;
  text-decoration: none;
  line-height: 200px;
  color: transparent; }
  /* line 86, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  .index .thumbnail:hover {
    color: white; }
    /* line 89, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail:hover .project-title {
      background: black;
      padding: 2px 6px; }
  @media (min-width: 450px) {
    /* line 77, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail {
      width: 45.45455%;
      height: auto;
      margin: 0 9.09091% 50px 0; }
      /* line 98, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
      .index .thumbnail:nth-of-type(2n+2) {
        margin: 0 0 50px 0; } }
  @media (min-width: 650px) {
    /* line 77, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail {
      width: 29.41176%;
      height: auto;
      margin: 0 5.88235% 50px 0; }
      /* line 106, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
      .index .thumbnail:nth-of-type(2n+2) {
        margin: 0 5.88235% 50px 0; }
      /* line 109, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
      .index .thumbnail:nth-of-type(3n+3) {
        margin: 0 0 50px 0; } }
  @media (min-width: 950px) {
    /* line 77, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail {
      width: 250px;
      height: 200px;
      margin: 0 50px 50px 0; }
      /* line 117, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
      .index .thumbnail:nth-of-type(3n+3) {
        margin: 0 0 50px 0; } }
  /* line 122, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  .index .thumbnail.one {
    background: #1e1e1e url(/images/homepage/hired-thumb-545e65c1.png) center center no-repeat; }
    /* line 125, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail.one:hover {
      background: #1e1e1e; }
  /* line 128, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  .index .thumbnail.two {
    background: #001ca9 url(/images/homepage/money-and-tech-thumb-d92757c9.png) center center no-repeat; }
    /* line 131, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail.two:hover {
      background: #001ca9; }
  /* line 134, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  .index .thumbnail.three {
    background: #373e5f url(/images/homepage/the-silk-road-thumb-37079a60.png) center center no-repeat; }
    /* line 137, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail.three:hover {
      background: #373e5f; }
  /* line 140, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  .index .thumbnail.four {
    background: black url(/images/homepage/os-x-icons-thumb-5118ba50.png) center center no-repeat; }
    /* line 143, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail.four:hover {
      background: black;
      color: white; }
  /* line 147, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  .index .thumbnail.five {
    background: #3d5833 url(/images/homepage/local-tribes-thumb-358305d6.jpg) center center no-repeat; }
    /* line 150, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail.five:hover {
      background: #3d5833; }
  /* line 153, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
  .index .thumbnail.six {
    background: #13b888 url(/images/homepage/vame-thumb-9fd339d2.png) center center no-repeat; }
    /* line 156, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .index .thumbnail.six:hover {
      background: #13b888; }
/* line 159, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.index footer {
  margin-top: 50px; }

/* line 165, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.about p {
  max-width: 450px;
  margin: 0 auto 25px; }

/* line 180, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.project .logo,
.hired .logo,
.the-silk-road .logo,
.money-and-tech .logo,
.peerbrief .logo,
.nicolin-mathiasson .logo,
.os-x-icons .logo,
.local-tribes .logo,
.vame .logo {
  display: block;
  margin: 150px auto 250px; }
/* line 184, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.project img,
.hired img,
.the-silk-road img,
.money-and-tech img,
.peerbrief img,
.nicolin-mathiasson img,
.os-x-icons img,
.local-tribes img,
.vame img {
  margin-bottom: 25px; }
/* line 187, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.project h1,
.hired h1,
.the-silk-road h1,
.money-and-tech h1,
.peerbrief h1,
.nicolin-mathiasson h1,
.os-x-icons h1,
.local-tribes h1,
.vame h1 {
  border-bottom: 1px solid #e6e6e6; }
/* line 190, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.project p,
.hired p,
.the-silk-road p,
.money-and-tech p,
.peerbrief p,
.nicolin-mathiasson p,
.os-x-icons p,
.local-tribes p,
.vame p {
  clear: both;
  float: right;
  width: 425px; }
  @media (max-width: 450px) {
    /* line 190, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
    .project p,
    .hired p,
    .the-silk-road p,
    .money-and-tech p,
    .peerbrief p,
    .nicolin-mathiasson p,
    .os-x-icons p,
    .local-tribes p,
    .vame p {
      clear: both;
      width: 100%; } }
/* line 199, /Users/harold/Sites/notorii/source/stylesheets/all.css.sass */
.project section,
.hired section,
.the-silk-road section,
.money-and-tech section,
.peerbrief section,
.nicolin-mathiasson section,
.os-x-icons section,
.local-tribes section,
.vame section {
  margin: 200px 0 0 0; }
