---
title: notorii - about
---

<p>
  Back to simplicity, Back to purity.<sup class="reference"><a href="https://www.vitsoe.com/rw/about/good-design" target="_blank">1</a></sup>
</p>

<p>
  notorii is a multidisciplinary agency with a singular focus; timeless design.
</p>

<p>
  We believe in more whitespace, fewer colors, &amp; fewer typefaces. In a world where everyone is yelling, whisper.
</p>

<p>
  We are Software Designers, taking equal pride in the quality and craftsmanship of both the user interface and codebase.
</p>

<p>
  Our team is liquid, accumulating where necessary to overcome obstacles.
</p>

<p>
  We believe in working with clients that state their problems clearly, and put their trust in us as designers to solve them.</p>
<p>

<p>
  <a href="mailto:hello@notorii.com">Contact</a>
</p>

<footer>
  <%= link_to 'Index', '/index.html'  %>
  &copy; 2014
</footer>

