---
title: notorii - about
---

<p>
  <b>Back to simplicity, back to purity.</b><sup class="reference"><a href="https://www.vitsoe.com/rw/about/good-design" target="_blank">1</a></sup>
</p>

<p>
  notorii is a multidisciplinary firm with a singular focus; timeless design.
</p>

<p>
  In a world of increasing visual clutter, thoughtful, clear, design solutions stand out from the noise. We believe in more whitespace, fewer colors, and fewer typefaces.<sup class="reference"><a href="http://www.vignelli.com/canon.pdf" target="_blank">2</a></sup>
</p>

<p>
  We are Product Designers, employing a hollistic methodology. The same quality and craftsmanship is applied to every touchpoint and medium.
</p>

<p>
  Past projects include Branding & Identity, Product Design, Software, and Mobile App Development. The proper design approach can be applied to any medium, and we are open to a variety of creative projects. Our team is liquid; we call upon specialists for areas where our expertise does not extend.
</p>

<p>
  We believe in working with clients that state their problems clearly, and put their trust in us as designers to solve them.</p>
<p>

<p>
  <a href="mailto:us@notorii.com">Drop a line</a>
</p>

<footer>
  <%= link_to 'Index', '/index.html'  %>
  &copy; 2014
</footer>

