---
title: notorii - about
---

<p>
Back to simplicity, Back to purity.<sup><a href="https://www.vitsoe.com/rw/about/good-design" target="_blank">1</a></sup>
</p>

<p>
notorii is a multidisciplinary design firm with a singular focus;
timeless design.

<p>We believe in more whitespace, fewer colors, & fewer typefaces. In a world where everyone is yelling, whisper. Simplicity provides the silence.
</p>

<p>
  We despise the culture of obsolescence, the cult of the ephemeral.<sup><a href="http://www.vignelli.com/canon.pdf" target="_blank">2</a></sup>
</p>

<p>
We have no office; our team is liquid, accumulating where necessary to overcome obstacles. Good Design should not cost than more than bad design, the leanest solution is always the most appropriate.
</p>
<p>
  We believe in working with clients that state their problems clearly, and put their trust in us as designers to solve them.</p>
<p><a href="mailto:hello@notorii.com">Contact</a></p>

<p class='reference'>
    <b>Stand on the shoulders of giants</b>
    <br>
    1. <a href="https://www.vitsoe.com/rw/about/good-design" target="_blank"> https://www.vitsoe.com/rw/about/good-design </a><br>
    2. <a href="http://www.vignelli.com/canon.pdf" target="_blank"> http://www.vignelli.com/canon.pdf </a>
</p>

<footer>
  <% link_to '/index.html' do %>
    Index
  <% end %>
  &copy; 2014
</footer>
