---
title: notorii - about
---

<p>
Back to simplicity, Back to purity.
</p>
<p>
notorii is a multidisciplinary design studio with a singular focus; 
timeless design. 
</p>
<p>
We dispise the culture of obsolescence, the cult of the ephemeral.
</p>
<p>We stand on the shoulders of giants; Vignelli, Rams, & Van Der Rohe are our masters.
</p>
<p>We believe in more whitespace, fewer colors, & fewer typefaces. In a world where everyone is yelling, whisper. Simplicity provides the silence.
</p>
<p>Good Design should not cost than more than bad design. We have no office; our team is liquid, accumulating where neccesary to overcome obstacles.
</p>
