---
title: notorii - about
---

<p>
Back to simplicity, Back to purity.
</p>
<p>
notorii is a multidisciplinary design studio with a singular focus; 
timeless design. 
</p>
<p>We believe in more whitespace, fewer colors, & fewer typefaces. In a world where everyone is yelling, whisper. Simplicity provides the silence.
</p>
<p>
We despise the culture of obsolescence, the cult of the ephemeral.
</p>
<p>We stand on the shoulders of giants; Vignelli, Rams, & Van Der Rohe are our masters.
</p>
<p>Good Design should not cost than more than bad design. We have no office; our team is liquid, accumulating where necessary to overcome obstacles.
</p>
<p>
  We believe in working with clients that state their problems clearly, and put their trust in us as designers to solve them.</p>
<p><a href="mailto:hello@notorii.com">Say hello</a></p>
