---
title: notorii - about
---

<p>
  <b>Back to simplicity.</b><sup class="reference"><a href="https://www.vitsoe.com/rw/about/good-design" target="_blank">1</a></sup>
</p>

<p>
  notorii is a multidisciplinary firm designing experiences for the digital age.
</p>

<p>
  In a world of increasing visual clutter, thoughtful, clear, design solutions stand out from the noise.
</p>

<p>
  We believe in more whitespace, fewer colors, and fewer typefaces.<sup class="reference"><a href="http://www.vignelli.com/canon.pdf" target="_blank">2</a></sup>
</p>

<p>
  We strive for long-lasting design, and apply the same level of quality and craftsmanship to every touchpoint and medium.
</p>

<p>
  We value honesty in our interactions and our work &mdash; and those who we work with.
</p>

<p>
  We work with clients that state their problems clearly, and put their trust in us as designers to solve them.
</p>

<p>
  We come from a diversity of backgrounds and use our broad expertise to take a holistic approach to problem solving.
</p>

<p>
  We discuss, sketch, design, code, and iterate to arrive at the best outcome.
</p>

<p>
  Our capabilities include product design, branding &amp; identity, software development, advertising, and copywriting.
</p>

<p>
  The proper design approach can be applied to any medium, and we work on a variety of creative projects.
</p>

<p>
  <a href="/contact">Drop us a line.</a>
</p>

<footer>
  <%= link_to 'Index', '/index.html'  %>
  &copy; 2014
</footer>

