---
title: notorii
---

<% link_to '/hired.html', :class => "thumbnail one"  do %>
  Project
<% end %>

<% link_to '/project.html', :class => "thumbnail two"  do %>
  Project
<% end %>

<% link_to '/the-silk-road.html', :class => "thumbnail three"  do %>
  Project
<% end %>

<% link_to '/project.html', :class => "thumbnail four"  do %>
  Project
<% end %>

<% link_to '/project.html', :class => "thumbnail five"  do %>
  Project
<% end %>

<% link_to '/project.html', :class => "thumbnail six"  do %>
  Project
<% end %>

<div class="clearfix">
</div>