---
title: notorii
---

<% link_to '/hired.html', :class => "thumbnail one"  do %>
  Hired
<% end %>

<% link_to '/money-and-tech.html', :class => "thumbnail two"  do %>
  Money & Tech
<% end %>

<% link_to '/the-silk-road.html', :class => "thumbnail three"  do %>
  The Silk Road
<% end %>

<% link_to '/peerbrief.html', :class => "thumbnail four"  do %>
  PeerBrief
<% end %>

<% link_to '/local-tribes.html', :class => "thumbnail five"  do %>
  Local Tribes
<% end %>

<% link_to '/annual-regatta.html', :class => "thumbnail six"  do %>
  Annual Regatta
<% end %>

<div class="clearfix">
</div>

<footer>
  <a href="mailto:hello@notorii.com">
  Contact</a>
  &copy; 2014
</footer>