---
title: notorii
---

<% link_to '/hired.html', :class => "thumbnail one"  do %>
  Hired
<% end %>

<% link_to '/money-and-tech.html', :class => "thumbnail two"  do %>
  Money & Tech
<% end %>

<% link_to '/the-silk-road.html', :class => "thumbnail three"  do %>
  The Silk Road
<% end %>

<% link_to '/os-x-icons.html', :class => "thumbnail four"  do %>
  OS X Icons
<% end %>

<% link_to '/vame.html', :class => "thumbnail five"  do %>
  Vame
<% end %>

<% link_to '/bank-of-america.html', :class => "thumbnail six"  do %>
  Bank of America
<% end %>

<div class="clearfix">
</div>

<footer>
  <a href="mailto:us@notorii.com">
  Contact</a>
  &copy; 2014
</footer>