---
title: notorii
---

<hgroup>
<h1>
  Project Title
</h1>
<p>
notorii executed the rebrand from Developer Auction on all mediums over a twelve week period.
</p>
<div class="cf">
</div>  
</hgroup>

<section>
  <%= image_tag 'the-silk-road-stationery.png' %>
</section>